<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- Enable Autowiring -->
	<context:annotation-config />

	<!-- Resource Property files -->
	<bean id="en_resource" class="resources.Resource">
		<property name="file"
			value="file:src/resources/messages/base_en.properties" />
	</bean>
	<bean id="fr_resource" class="resources.Resource">
		<property name="file"
			value="file:src/resources/messages/base_fr.properties" />
	</bean>

	<bean id="fileReaderService" class="utility.reader.service.impl.FileReaderServiceImpl" />
	<bean id="propertyComparatorService" class="utility.comparator.service.impl.PropertyComparatorServiceImpl" />

</beans>